{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="col-md-8 offset-md-2">
    <h1 style="font-family: 'Montserrat'; font-size: 18px; color: #2a4365">
      Detalles equipo
    </h1>
    <h1
      class="text-left mt-3"
      style="
        font-family: 'Montserrat';
        font-size: 50px;
        color: #2a4365;
        border-bottom: 1.5px solid #babfc5;
        padding-bottom: 15px;
      "
    >
      {{ team.month }}.{{team.year}}.{{team.group}}
    </h1>
    <a
      class="btn mt-4 mb-2"
      role="button"
      href="{% url 'teams' %}"
      style="
        background-color: #abafd0;
        font-size: 20px;
        font-family: 'Montserrat';
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
      "
      onmouseover="this.style.backgroundColor='#7D8093'"
      onmouseout="this.style.backgroundColor='#ABAFD0'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="black"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
      Volver a equipos
    </a>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <label
            for="player_id"
            style="
              font-family: 'Montserrat';
              font-size: 20px;
              color: #2a4365;
              margin-top: 5px;
            "
            >Jugador - Promoción:</label>
            
            {% for msg in no_cumple_condiciones_messages %}
                <p class="fade show" id="msg" role="alert" style="color: red;">*{{ msg }}</p>
            {% endfor %}

          <select
            name="player_id"
            id="player_id"
            class="form-select form-select-lg"
            style="font-size: 18px; font-family: 'Montserrat'"
          >
          <option value="" selected>Seleccione un jugador</option>
            {% for player in players_available %}
            <option value="{{ player.id }}">{{ player.name }} {{ player.surnames }} - {{player.month_promotion}} {{player.year_promotion}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6" style="display: flex; align-items: flex-end">
          <button
            class="btn"
            type="submit"
            style="
              background-color: #68d391;
              font-size: 20px;
              font-family: 'Montserrat';
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              transition: background-color 0.3s;
            "
            onmouseover="this.style.backgroundColor='#4B9A6A'"
            onmouseout="this.style.backgroundColor='#68D391'"
          >
            + Agregar jugador
          </button>
        </div>
      </div>
    </form>

    <style type="text/css">
        .table-container {
            height: 10em;
        }
        table {
            display: flex;
            flex-flow: column;
            height: 50vh;
            width: 100%;
        }
        table thead {
            flex: 0 0 auto;
            width: calc(100% - 0.9em);
        }
        table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;
        }
        table tbody tr {
            width: 100%;
        }
        table thead, table tbody tr {
            display: table;
            table-layout: fixed;
        }
        .table th, .table td {
            word-wrap: break-word;
            max-width: 150px;
        }
    </style>
    
    <div
      class="ek-shadow mt-3 mb-3"
      style="
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: black;
      "
    >
      <table class="table rounded rounded-3 overflow-hidden text-center">
        <thead style="height: 65px; vertical-align: middle">
          <tr style="font-size: 17px; font-family: 'Montserrat'">
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Nombres
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Apellidos
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Promoción
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Detalles
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Editar
            </th>
            <th style="background-color: #f4f4f4; font-weight: normal">
              Eliminar
            </th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          <tr
            style="
              font-size: 16px;
              font-family: 'Montserrat';
              color: black;
              font-weight: 1;
            "
          >
            <td>{{ player.name }}</td>
            <td>{{ player.surnames }}</td>
            <td>{{player.month_promotion}}.{{player.year_promotion}}</td>
            <td>
              <a href="" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="green"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                  />
                </svg>
              </a>
            </td>
            <td>  
              <a href="" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#FF8C00"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <form method="post" action="{% url 'remove_player_from_team' team.id player.id %}">
                  {% csrf_token %}
                  <button type="submit" onclick="return confirm('¿Estás seguro que deseas eliminar a este jugador del equipo?')" style="background-color: white;border: white;">
                      <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="30"
                          height="30"
                          fill="#D95050"
                          class="bi bi-trash-fill"
                          viewBox="0 0 16 16"
                      >
                          <path
                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                          />
                      </svg>
                  </button>
              </form>
          </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
