{% extends 'layout/main.html' %} {% block content %}
<section style="background-color: #eee">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{ person.name }}</h5>
            <p class="text-muted mb-1">{{ person.degree_instruction }}</p>
            <p class="text-muted mb-4">{{ person.profession }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre Completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ person.name }} {{ person.surnames }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dni</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.dni }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de cumpleaños</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.birthdate }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Documento militar</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.military_card }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Departamento</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.department }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Provincia</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.province }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Distrito</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.district }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dirección</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.address }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Actividad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.activity }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Estado civil</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.civil_status }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Telefono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.phone }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Número de promoción</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.num_promotion }}</p>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Código NSA</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.NSA_code }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">¿Es delegado?</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.promotion_delegate }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">¿Es sub-delegado?</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ person.promotion_sub_delegate }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">¿Es socio?</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ person.partner }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
