{% extends 'layout/main.html' %} {% block content %}
<div class="container light-style flex-grow-0 container-p-y">
  <div class="row ">
    <div class="col-md-10">
        <h4 class="font-weight-bold py-3 mb-4 fs-1" style="
        font-family: 'Montserrat';
        color: #2a4365;
        border-bottom: 1.5px solid #babfc5;
        padding-bottom: 15px;
        font-weight: 600;
      ">Perfil de persona</h4>
    </div>
    <div class="col-md-2">

  <a
      class="btn mt-4 mb-2"
      role="button"
      href="{% url 'persons' %}"
      style="
        background-color: #68d391;
        font-size: 20px;
        font-family: 'Montserrat';
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
      "
      onmouseover="this.style.backgroundColor='#4B9A6A'"
      onmouseout="this.style.backgroundColor='#68D391'"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="black"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
      Volver a persona
    </a>
  </div>
</div>
  <div class="card overflow-hidden">
    <div class="row  row-bordered row-border-dark">
      <div class="col-lg-3 pt-0 mx-0">
        <div class="list-group w-100 list-group-flush mb-0 account-settings-links text-center fs-5">
          <a
            class="list-group-item list-group-item-secondary active"
            data-toggle="list"
            href="#general"
            >General</a
          >
          <a
            class="list-group-item list-group-item-secondary"
            data-toggle="list"
            href="#account-info"
            >Informacion</a
          >
          <a
            class="list-group-item list-group-item-secondary"
            data-toggle="list"
            href="#account-social-links"
            >Ocupación</a
          >
          <a
            class="list-group-item list-group-item-secondary"
            data-toggle="list"
            href="#account-notifications"
            >Notificaciones</a
          >
        </div>
      </div>
      <div class="col-lg-9 mx-0 ">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="general">
            <div class="card-body  text-center">
              {% if person.image %}
              <!-- Verifica si hay una imagen disponible. -->
              <img
                src="{{ person.image.url }}"
                alt="Imagen de la persona"
                class="rounded-circle"
                style="width: 200px"
              />
              {% else %}
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              {% endif %}
            </div>
            <hr class="border-light" />
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ person.name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 font-weight-bold">
                  <p class="mb-0">Apellidos</p>
                </div>
                <div class="col-sm-9">
                  {{ person.surnames}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 font-weight-bold">
                  <p class="mb-0">Dni</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ person.dni }}</p>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div class="tab-pane fade" id="account-change-password">     
          </div>
          <div class="tab-pane fade" id="account-info">
            <div class="card-body pb-2">
              <div class="form-group">
                <label class="form-label">Bio</label>
                
              </div>
        
            </div>
            <hr class="border-light m-0" />
            <div class="card-body pb-2">
              <h6 class="mb-4">Contacts</h6>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  value="+0 (123) 456 7891"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" value />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account-social-links">
            <div class="card-body pb-2">
              <div class="form-group">
                <label class="form-label">Twitter</label>
                <input
                  type="text"
                  class="form-control"
                  value="https://twitter.com/user"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Facebook</label>
                <input
                  type="text"
                  class="form-control"
                  value="https://www.facebook.com/user"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Google+</label>
                <input type="text" class="form-control" value />
              </div>
              <div class="form-group">
                <label class="form-label">LinkedIn</label>
                <input type="text" class="form-control" value />
              </div>
              <div class="form-group">
                <label class="form-label">Instagram</label>
                <input
                  type="text"
                  class="form-control"
                  value="https://www.instagram.com/user"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account-connections">
            
          </div>
          <div class="tab-pane fade" id="account-notifications">
            <div class="card-body pb-2">
              
             
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
