{% extends 'layout/main.html' %} {% block title %} Equipos {% endblock title %}
{% block content %}

<div class="mt-4 mb-4">
  <div class="col-md-8 offset-md-2">
    <h1
      class="text-left mt-3"
      style="
        font-family: 'Montserrat';
        font-size: 50px;
        color: #0e172d;
        border-bottom: 1.5px solid #babfc5;
        padding-bottom: 15px;
      "
    >
      Anuncios
    </h1>
    <a
      class="btn mt-4 mb-2 fs-5"
      role="button"
      href="{% url 'create_anuncio' %}"
      style="
        background-color: #242c43;
        font-family: 'Montserrat';
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
        color: white;
      "
      onmouseover="this.style.backgroundColor='#090C26'"
      onmouseout="this.style.backgroundColor='#242C43'"
    >
      + Crear Anuncio
    </a>

    {% for msg in messages %}
    <div
      class="alert {% if 'created' in msg.tags %}alert-success{% elif 'deleted' in msg.tags %}alert-danger{% endif %} fade show"
      id="msg"
      role="alert"
    >
      {{ msg }}
    </div>
    {% endfor %}

    <form method="GET">
      <div class="input-group mb-3">
        <label
          for="player_id"
          style="
            font-family: 'Montserrat';
            font-size: 20px;
            color: #0e172d;
            margin-top: 5px;
          "
        >
          Buscar por campeonato:
        </label>
        <input
          type="text"
          class="form-control rounded"
          id="nombre_anuncio"
          name="nombre_anuncio"
          style="
            font-size: 18px;
            font-family: 'Montserrat';
            margin-left: 20px;
            margin-right: 20px;
          "
          placeholder="Ingrese el nombre del anuncio"
        />
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="submit"
            style="
              background-color: #242c43;
              font-size: 20px;
              font-family: 'Montserrat';
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              transition: background-color 0.3s;
              color: white;
            "
            onmouseover="this.style.backgroundColor='#090C26'"
            onmouseout="this.style.backgroundColor='#242C43'"
          >
            Buscar
          </button>
        </div>
      </div>
    </form>

    <div
      class="ek-shadow mt-3 mb-3"
      style="
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: black;
      "
    >
      <table class="table rounded rounded-0 overflow-hidden text-center">
        <thead style="height: 65px; vertical-align: middle">
          <tr style="font-size: 17px; font-family: 'Montserrat'">
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Campeonato
            </th>
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Título
            </th>
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Descripción
            </th>
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Fecha publicación
            </th>
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Editar
            </th>
            <th
              style="
                background-color: #242c43;
                font-weight: normal;
                color: white;
                font-weight: normal;
              "
            >
              Eliminar
            </th>
          </tr>
        </thead>
        <tbody style="vertical-align: middle">
          {% for anuncio in anuncios %}
          <tr
            style="
              font-size: 16px;
              font-family: 'Montserrat';
              color: black;
              font-weight: 1;
            "
          >
            <td>{{ anuncio.championship.name }}</td>
            <td>{{ anuncio.name }}</td>
            <td>{{ anuncio.content }}</td>
            <td>{{ anuncio.date }}, {{ anuncio.time }}</td>
            <td>
              <a href="{% url 'edit_anuncio' anuncio.id %}" type="button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#FF8C00"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <form
                method="post"
                action="{% url 'delete_anuncio' anuncio.id %}"
              >
                {% csrf_token %}
                <button
                  type="submit"
                  onclick="return confirm('¿Estás seguro que deseas eliminar al equipo ?')"
                  style="background-color: white; border: white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="#D95050"
                    class="bi bi-trash-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                    />
                  </svg>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function confirmDelete(event) {
    event.preventDefault();
    if (confirm("¿Estás seguro de que deseas eliminar este equipo?")) {
      window.location.href = event.currentTarget.href;
    }
  }

  // Captura el evento de envío del formulario
  document.querySelector("form").addEventListener("submit", function (event) {
    event.preventDefault(); // Evita que el formulario se envíe normalmente

    // Obtiene el valor del campo de entrada
    let nombreAnuncio = document.getElementById("nombre_anuncio").value;

    // Obtiene todos los anuncios listados en la tabla
    let anuncios = document.querySelectorAll("tbody tr");

    // Recorre todos los anuncios y muestra solo los que coinciden con el nombre ingresado
    anuncios.forEach(function (anuncio) {
      let nombre = anuncio.querySelector("td:first-child").innerText; // Obtiene el nombre del anuncio

      // Muestra u oculta el anuncio dependiendo si coincide con el nombre ingresado
      if (nombre.toLowerCase().includes(nombreAnuncio.toLowerCase())) {
        anuncio.style.display = "table-row"; // Muestra el anuncio
      } else {
        anuncio.style.display = "none"; // Oculta el anuncio que no coincide
      }
    });
  });

  // Ocultar después de 5 segundos (5000 milisegundos)
</script>
{% endblock content %}
