{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="col-md-6 offset-md-3">
    <form method="POST">
      <h1
        class="text-left mt-3"
        style="
          font-family: 'Montserrat';
          font-size: 50px;
          color: #2a4365;
          border-bottom: 1.5px solid #babfc5;
          padding-bottom: 15px;
        "
      >
        Crear anuncio
      </h1>
      <a
        class="btn mt-4 mb-2 fs-5"
        role="button"
        href="{% url 'anuncios' %}"
        style="
          background-color: #4e688e;
          font-family: 'Montserrat';
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          transition: background-color 0.3s;
          color: white;
        "
        onmouseover="this.style.backgroundColor=' #314159'"
        onmouseout="this.style.backgroundColor='#4e688e'"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
        Volver a anuncios
      </a>
      {%csrf_token%} {% for field in form %}
      <div class="mb-3 mt-3">
        <label
          class="form-label"
          style="
            color: black;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: normal;
          "
          for="{{ field.auto_id }}"
        >
          {{ field.label }} {% if field.field.required %}
          <span class="text-danger">*</span>
          {% endif %}
        </label>
        {{ field }} {% if field.errors %}
        <div class="text-danger small">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button
          class="btn mt-4 mb-2 w-100 fs-5"
          style="
            background-color: #4e688e;
            font-family: 'Montserrat';
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: background-color 0.3s;
            color: white;
          "
          onmouseover="this.style.backgroundColor=' #314159'"
          onmouseout="this.style.backgroundColor='#4e688e'"
        >
          Crear anuncio
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Script para inicializar el datepicker -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const programarCheckbox = document.getElementById('id_programar');
      const dateInput = document.getElementById('id_date');
      const timeInput = document.getElementById('id_time');
      const defaultCheckbox = document.getElementById('id_default');
  
      function toggleDateTimeFields() {
        if (programarCheckbox.checked) {
          dateInput.removeAttribute('disabled');
          timeInput.removeAttribute('disabled');
          defaultCheckbox.checked = false;
        } else {
          dateInput.setAttribute('disabled', 'true');
          timeInput.setAttribute('disabled', 'true');
          defaultCheckbox.checked = true;
        }
      }
  
      function toggleDefaultCheckbox() {
        if (defaultCheckbox.checked) {
          programarCheckbox.checked = false;
          dateInput.setAttribute('disabled', 'true');
          timeInput.setAttribute('disabled', 'true');
        } else {
          programarCheckbox.checked = true;
          dateInput.removeAttribute('disabled');
          timeInput.removeAttribute('disabled');
        }
      }
  
      // Llama a las funciones inicialmente para establecer el estado inicial
      toggleDateTimeFields();
  
      // Agrega event listeners a los checkboxes para gestionar cambios
      programarCheckbox.addEventListener('change', toggleDateTimeFields);
      defaultCheckbox.addEventListener('change', toggleDefaultCheckbox);
    });
  </script>
  

{% endblock content %}