{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="col-md-8 offset-md-2">
    <h1 style="font-family: 'Montserrat'; font-size: 18px; color: #2a4365">
      {{championships.name}} - {{championships.year}} -
      {{championships.seasons}} - Categoría: {{categorys.name}}
    </h1>
    <h1
      class="text-left mt-3"
      style="
        font-family: 'Montserrat';
        font-size: 50px;
        color: #2a4365;
        border-bottom: 1.5px solid #babfc5;
        padding-bottom: 15px;
      "
    >
      Fixture-Llenar resultados
    </h1>
    <a
      class="btn mt-4 mb-3"
      role="button"
      href=""
      style="
        background-color: #abafd0;
        font-size: 20px;
        font-family: 'Montserrat';
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
      "
      onmouseover="this.style.backgroundColor='#7D8093'"
      onmouseout="this.style.backgroundColor='#ABAFD0'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="black"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
      Volver a categorias
    </a>

    <style>
      .table > thead > tr > th {
        background-color: #4e688e;
        color: white;
      }
    </style>
    <div
      class="list-group list-group-horizontal d-flex flex-wrap account-settings-links text-center fs-5"
      style="width: 100%"
    >
      <a class="list-group-item active bg-white flex-fill" href="">Fixture</a>
      <a class="list-group-item bg-white flex-fill" href=""
        >Tabla de posiciones</a
      >
      <a class="list-group-item bg-white flex-fill" href="">Amonestaciones</a>
      <a class="list-group-item bg-white flex-fill" href="">Goleadores</a>
    </div>

    <div class="container bg-white">
      <div class="bg-white mt-3">
        <div class="container text-center">
          <form method="post" action="">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="input-group mb-3 col-5">
                  <input
                    type="number"
                    name="team1_goals"
                    class="form-control"
                    placeholder="Equipo 1"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="input-group mb-3 col-5">
                  <input
                    type="number"
                    name="team2_goals"
                    class="form-control"
                    placeholder="Equipo2"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </div>

            <h2
              class="text-left mt-3"
              style="
                font-family: 'Montserrat';
                font-size: 50px;
                color: #2a4365;
                border-bottom: 1.5px solid #babfc5;
                padding-bottom: 15px;
              "
            >
              {{ game.team1 }}
            </h2>
            {% for form in forms_team1 %}
            <div>
              <strong>{{ form.initial.player.name }}</strong>
              {{ form.as_p }}
            </div>
            {% endfor %}

            <h2
              class="text-left mt-3"
              style="
                font-family: 'Montserrat';
                font-size: 50px;
                color: #2a4365;
                border-bottom: 1.5px solid #babfc5;
                padding-bottom: 15px;
              "
            >
              {{ game.team2 }}
            </h2>
            {% for form in forms_team2 %}
            <div>
              <strong>{{ form.initial.player.name }}</strong>
              {{ form.as_p }}
            </div>
            {% endfor %}
            <button type="submit">Guardar Resultados</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
