{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="col-md-4 offset-md-4">
    <h1>Agregar Equipos al Campeonato --{{ championship.name }}</h1>

    <form method="POST">
      {% csrf_token %}
      <select name="championship_id">
        {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
        {% endfor %}
      </select>
      <button type="submit">Agregar Equipo</button>
      <p>Nombre del campeonato: {{ championship.name }}</p>
    </form>
  </div>
</div>
{% endblock content %}
