{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="col-md-8 offset-md-2">
    <h1
      class="text-left mt-3"
      style="
        font-family: 'Montserrat';
        font-size: 50px;
        color: #2a4365;
        border-bottom: 1.5px solid #babfc5;
        padding-bottom: 15px;
      "
    >
      Campeonatos
    </h1>
    <a
      class="btn mt-4 mb-2"
      role="button"
      href="{% url 'create_championship' %}"
      style="
        background-color: #68d391;
        font-size: 20px;
        font-family: 'Montserrat';
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;
      "
      onmouseover="this.style.backgroundColor='#4B9A6A'"
      onmouseout="this.style.backgroundColor='#68D391'"
    >
      + Crear campeonato
    </a>

    {% for msg in messages %}
    <div class="alert alert-success fade show" id="msg" role="alert">
      {{msg}}
    </div>
    {% endfor %}

    <style type="text/css">
      .table-container {
        height: 10em;
      }
      table {
        display: flex;
        flex-flow: column;
        height: 65vh;
        width: 100%;
      }
      table thead {
        flex: 0 0 auto;
        width: calc(100% - 0.9em);
      }
      table tbody {
        flex: 1 1 auto;
        display: block;
        overflow-y: scroll;
      }
      table tbody tr {
        width: 100%;
      }
      table thead,
      table tbody tr {
        display: table;
        table-layout: fixed;
      }
      .table th,
      .table td {
        word-wrap: break-word;
        max-width: 150px;
      }
    </style>

    <div
      class="ek-shadow mt-3 mb-3"
      style="
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: black;
      "
    >
      <table class="table rounded rounded-3 overflow-hidden text-center">
        <thead style="height: 65px; vertical-align: middle">
          <tr style="font-size: 17px; font-family: 'Montserrat'">
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Nombre
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Año
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Temporada
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Habilitado
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Categorias
            </th>
            <th
              style="
                background-color: #f4f4f4;
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                font-weight: normal;
              "
            >
              Editar
            </th>
            <th style="background-color: #f4f4f4; font-weight: normal">
              Eliminar
            </th>
          </tr>
        </thead>
        <tbody>
          {% for championship in championships %}
          <tr
            style="
              font-size: 16px;
              font-family: 'Montserrat';
              color: black;
              font-weight: 1;
            "
          >
            <td>{{ championship.name }}</td>
            <td>{{championship.year}}</td>
            <td>{{championship.seasons}}</td>
            <td>{% if championship.state %} SI {% else %} NO {% endif %}</td>
            <td>
              <a
                href="{% url 'view_championship' championship.id %}"
                type="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#3040d0"
                  class="bi bi-card-list"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
                  />
                  <path
                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <a
                href="{% url 'edit_championship' championship.id %}"
                type="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#FF8C00"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <a
                href="{% url 'delete_championship' championship.id%}"
                type="button"
                onclick="confirmDelete(event)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="#D95050"
                  class="bi bi-trash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                  />
                </svg>
              </a>
            </td>
          </tr>
          <script>
            function confirmDelete(event) {
              event.preventDefault();
              if (confirm('¿Estás seguro de que deseas eliminar el campeonato {{ championship.name }}?')) {
                window.location.href = event.currentTarget.href;
              }
            }
          </script>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
