{% extends 'layout/main.html' %} {% block content %}
<div class="mt-4 mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-15">
        <form method="POST">
          <h1
            class="text-left mt-3"
            style="
              font-family: 'Montserrat';
              font-size: 50px;
              color: #2a4365;
              border-bottom: 1.5px solid #babfc5;
              padding-bottom: 15px;
            "
          >
            Crear campeonato
          </h1>
          <a
            class="btn mt-4 mb-2 text-white"
            role="button"
            href="{% url 'championships' %}"
            style="
              background-color: #4e688e;
              font-size: 20px;
              font-family: 'Montserrat';
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              transition: background-color 0.3s;
            "
            onmouseover="this.style.backgroundColor='#314159'"
            onmouseout="this.style.backgroundColor='#4e688e'"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="white"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              ></path>
            </svg>
            Volver a campeonatos
          </a>
          {% csrf_token %} {% for group in grouped_fields %}
          <div class="row">
            {% for field in group %}
            <div class="mb-3 mt-3 col-md-4">
              <label
                class="form-label"
                style="
                  color: black;
                  font-family: 'Montserrat';
                  font-size: 20px;
                  font-weight: normal;
                "
                for="{{ field.auto_id }}"
              >
                {{ field.label }} {% if field.field.required %}
                <span class="text-danger">*</span>
                {% endif %}
              </label>
              {{ field }} {% if field.errors %}
              <div class="mi-alerta">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                  style="color: red"
                >
                  <path
                    fill="red"
                    d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575ZM8 5a.75.75 0 0 0-.75.75v2.5a.75.75 0 0 0 1.5 0v-2.5A.75.75 0 0 0 8 5Zm1 6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"
                  ></path>
                </svg>
                {% for error in field.errors %} {{ error }} {% endfor %}
              </div>

              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button
              class="btn mt-4 mb-2 w-100 text-white"
              role="button"
              href="{% url 'championships' %}"
              style="
                background-color: #4e688e;
                font-size: 20px;
                font-family: 'Montserrat';
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transition: background-color 0.3s;
              "
              onmouseover="this.style.backgroundColor='#314159'"
              onmouseout="this.style.backgroundColor='#4e688e'"
            >
              Cancelar
            </button>
            <button
              class="btn mt-4 mb-2 w-100 text-white"
              style="
                background-color: #4e688e;
                font-size: 20px;
                font-family: 'Montserrat';
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transition: background-color 0.3s;
              "
              onmouseover="this.style.backgroundColor='#314159'"
              onmouseout="this.style.backgroundColor='#4e688e'"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
