{% extends 'layout/main.html' %}
{% block sidebar %}
<nav id="sidebar" class=" col-0 col-sm-3 col-md-3 col-lg-2 shadow-sm">
  <div class="sidebar-header text-white d-flex justify-content-center mt-5">
    <h3>CAPSTONE</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="{% url 'partner' %}" class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
          fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z" />
        </svg></i> Inicio</a>
    </li>
    <li>
      <a href="{% url 'view_championship' championship.id %}" class="text-white "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-people" viewBox="0 0 16 16">
          <path
            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
        </svg></i>info </a>
    </li>
    <li>
      <a href="{% url 'teams' championship.id %}" class="text-white "><svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
        </svg></i>Equipos</a>
    </li>
    <li>
      <a href="{% url 'fixture' championship.id %}" class="text-white "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
        </svg></i>Fitxure</a>
    </li>
    <li>
      <a href="{% url 'games' championship.id %}" class="text-white "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
        </svg></i>Resultados</a>
    </li>
    <li>
      <a href="{% url 'championships' %}" class="text-white "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
        </svg></i>Salir</a>
    </li>
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'login' %}">Iniciar sesión</a>
    </li>
    {% else %}
    <li class="nav-item" id="nav__perfil">
      <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-user">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
        <li><a class="dropdown-item" href="#">{{user.username}}</a></li>
        <li>
          <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>

      </ul>
    </li>
    {% endif %}
  </ul>

</nav>

{% endblock sidebar %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mt-3">Info</h1>
  <div class="d-flex justify-content-center">
    <div class="bg-white p-3 shadow-sm">
    <h3>Formato del Torneo</h3>
    <p>El Campeonato de Fútbol XYZ se juega siguiendo un formato de liga con todos contra todos.</p>
      <h3>Calendario</h3>
      <p>Los partidos se jugarán cada sábado y domingo a las 16:00 horas.</p>

      <h3>Reglas del Juego</h3>
      <ul>
        <li>Se seguirán las reglas oficiales de la FIFA para el fútbol de campo.</li>
        <li>La duración de cada partido será de 90 minutos, divididos en dos tiempos de 45 minutos cada uno.</li>
        <li>Se permiten hasta 3 sustituciones por equipo durante el partido.</li>
        <li>Los puntos se otorgarán de la siguiente manera:
          <ul>
            <li>3 puntos por victoria</li>
            <li>1 punto por empate</li>
            <li>0 puntos por derrota</li>
          </ul>
        </li>
        <li>En caso de empate en puntos al final del torneo, se utilizará la diferencia de goles para definir al
          ganador.</li>
      </ul>

      <h3>Resultados y Tabla de Posiciones</h3>
      <p>Los resultados de los partidos y la tabla de posiciones se publicarán en esta página y se actualizarán después
        de cada jornada.</p>

      <h3>Premios</h3>
      <p>El equipo ganador del campeonato recibirá un trofeo y un premio en efectivo de $1000.</p>
    </div>
  </div>
</div>



{% endblock %}