{% extends 'layout/newmain.html' %} {%block content %}
<style>
  .carrusel-container {
    position: relative;
  }

  /* Estilo para quitar el borde inferior del thead */
  table.table thead th {
    border-bottom: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto; /* Ajusta el ancho automáticamente según el contenido */
  }

  .carousel-control-prev {
    left: 0; /* Coloca el botón prev a la izquierda */
  }

  .carousel-control-next {
    right: 0; /* Coloca el botón next a la derecha */
  }

  .table-container {
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    font-size: 13px;
  }

  /* Estilo para la tabla */
  .table-container table {
    width: 100%;
  }
  .col-md-6 {
    overflow: hidden;
  }

 

 

  .w-75 {
    transition: transform 0.5s ease;
  }

  .w-75:hover {
    transform: translateX(-10px);
  }

  .btn {
    transition: transform 0.2s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12 mt-sm-2">
      <div class="carrusel-container h-75" style="background-color: #f6f0e6" ;>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner text-center text-dark">
            <div class="carousel-item active">
              <h1 class="mt-4">Tabla de posiciones</h1>
              <div class="mx-5 mt-3 table-container">
                <table
                  class="table table-responsive table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        N°
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        Equipo
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        PJ
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        PG
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        PE
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        PP
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        GF
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        GC
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        DG
                      </th>
                      <th
                        style="
                          background-color: #242c43;
                          font-weight: normal;
                          color: white;
                        "
                      >
                        Pts
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Equipo A</td>
                      <td>10</td>
                      <td>7</td>
                      <td>2</td>
                      <td>1</td>
                      <td>20</td>
                      <td>5</td>
                      <td>15</td>
                      <td>23</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Equipo B</td>
                      <td>10</td>
                      <td>6</td>
                      <td>3</td>
                      <td>1</td>
                      <td>18</td>
                      <td>8</td>
                      <td>10</td>
                      <td>21</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Equipo C</td>
                      <td>10</td>
                      <td>5</td>
                      <td>4</td>
                      <td>1</td>
                      <td>15</td>
                      <td>7</td>
                      <td>8</td>
                      <td>19</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Equipo D</td>
                      <td>10</td>
                      <td>4</td>
                      <td>3</td>
                      <td>3</td>
                      <td>12</td>
                      <td>10</td>
                      <td>2</td>
                      <td>15</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Equipo E</td>
                      <td>10</td>
                      <td>7</td>
                      <td>2</td>
                      <td>1</td>
                      <td>20</td>
                      <td>5</td>
                      <td>15</td>
                      <td>23</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Equipo F</td>
                      <td>10</td>
                      <td>6</td>
                      <td>3</td>
                      <td>1</td>
                      <td>18</td>
                      <td>8</td>
                      <td>10</td>
                      <td>21</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Equipo G</td>
                      <td>10</td>
                      <td>5</td>
                      <td>4</td>
                      <td>1</td>
                      <td>15</td>
                      <td>7</td>
                      <td>8</td>
                      <td>19</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Equipo H</td>
                      <td>10</td>
                      <td>4</td>
                      <td>3</td>
                      <td>3</td>
                      <td>12</td>
                      <td>10</td>
                      <td>2</td>
                      <td>15</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="carousel-item">
                    <h1>Goleadores</h1>
                    <div class="mx-5 mt-3 table-container">
              <table
                class="table table-responsive table-bordered table-striped">
                <thead class="table-dark">
                  <tr >
                    <th style="background-color: #242c43;
                  font-weight: normal;
                  color: white;">Jugador</th>
                    <th style="background-color: #242c43;
                  font-weight: normal;
                  color: white;">Equipo</th>
                    <th style="background-color: #242c43;
                  font-weight: normal;
                  color: white;">Goles</th>

                  </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Messi</td>
                            <td>Barcelona</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>Ronaldo</td>
                            <td>Juventus</td>
                            <td>28</td>
                          </tr>
                          <tr>
                            <td>Neymar</td>
                            <td>Paris Saint-Germain</td>
                            <td>20</td>
                          </tr>
                          <!-- Agrega más filas según sea necesario -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h1>Fixture</h1>
                    <div class="mx-5 mt-3">
                      <table class="table table-bordered">
                        <thead class="table-dark">
                         <tr>
                          <th style="width: 55%;background-color: #242c43;
                  font-weight: normal;
                  color: white;">Lugar/Fecha</th>
                          <th style="width: 15% ;background-color: #242c43;
                  font-weight: normal;
                  color: white;">Equipo 1</th>
                          <th style="width: 15% ;background-color: #242c43;
                  font-weight: normal;
                  color: white;">Resultado</th>
                          <th style="width: 15% ;background-color: #242c43;
                  font-weight: normal;
                  color: white;">Equipo 2</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Estadio 1 - 01/02/2024</td>
                            <td>Equipo A</td>
                            <td>2-1</td>
                            <td>Equipo B</td>
                          </tr>
                          <tr>
                            <td>Estadio 2 - 02/02/2024</td>
                            <td>Equipo C</td>
                            <td>0-0</td>
                            <td>Equipo D</td>
                          </tr>
                          <tr>
                            <td>Estadio 3 - 03/02/2024</td>
                            <td>Equipo A</td>
                            <td>3-2</td>
                            <td>Equipo D</td>
                          </tr>
                          <!-- Agrega más filas según sea necesario -->
                        </tbody>
                      </table>
                    </div>
                  </div>
          </div>
          <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="prev"
                style="background-color:#242C43"
              >
                <span
                  class="carousel-control-prev-icon text-white"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="next"
                style="background-color:#242C43"
              >
                <span
                  class="carousel-control-next-icon text-white accordion"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
         
      </div>
    </div>
          <div
            class="col-md-5 col-sm-12 mt-3 pb-2"
            style="background-color: #f6f0e6"
          >
            <ul
              class="list-group"
              style="background-color: #f6f0e6;border: 2px solid #000;padding-0M;list-style: none; padding: 0"
            >
              <li
                class="list-group-item text-center text-dark m-0"
                style="background-color: #f6f0e6; border: none"
              >
                <h1 class="fw-bold">Anuncios</h1>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 14px">07 de enero de 2024</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 25px; font-weight: 600">Primer anuncio</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border-bottom: 1px solid #000"
              >
                <a style="font-size: 18px; font-weight: 600"
                  >Aqui se pone toda la descripcion</a
                >
              </li>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 14px">07 de enero de 2024</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 25px; font-weight: 600">Segundo anuncio</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border-bottom: 1px solid #000"
              >
                <a style="font-size: 18px; font-weight: 600"
                  >Aqui se pone toda la descripcion</a
                >
              </li>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 14px">07 de enero de 2024</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 25px; font-weight: 600">Tercer anuncio</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border-bottom: 1px solid #000"
              >
                <a style="font-size: 18px; font-weight: 600"
                  >Aqui se pone toda la descripcion</a
                >
              </li>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 14px">07 de enero de 2024</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border: none"
              >
                <a style="font-size: 25px; font-weight: 600">Cuarto anuncio</a>
              </li>
              <li
                class="list-group-item text-dark"
                style="background-color: #f6f0e6; border-bottom: 1px solid #000"
              >
                <a style="font-size: 18px; font-weight: 600"
                  >Aqui se pone toda la descripcion</a
                >
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      {% endblock content %}
    </div>
  </div>
</div>
