{% extends 'layout/newmain.html' %} {%block content %}
<style>
  .carrusel-container {
    position: relative;
  }

  /* Estilo para quitar el borde inferior del thead */
  table.table thead th {
    border-bottom: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto; /* Ajusta el ancho automáticamente según el contenido */
    
  }

  .carousel-control-prev {
    left: 0; /* Coloca el botón prev a la izquierda */
    color:#000000
  }

  .carousel-control-next {
    right: 0; 

  }
  .table-container {
    height: 30vh;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    font-size: 13px;
  }

  /* Estilo para la tabla */
  .table-container table {
    width: 100%;
  }
  .col-md-6 {
    overflow: hidden;
  }

  .text-center {
    transition: transform 0.5s ease;
  }

  .btn {
    transition: transform 0.2s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
<div class="container " >
  <div class="row ">
    <div class="col-md-6 col-sm-12 mt-sm-2 ">
      <div
        class="carrusel-container h-100 pb-5"  style=" background-color:#f6f0e6";>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner text-center text-dark">
            <div class="carousel-item active">
              <h1 class="mt-4">Tabla de posiciones</h1>
              <div class="mx-5 mt-5 table-container">
              <table
                class="table table-responsive table-bordered table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>N°</th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                    <th>Pts</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in results %}
                  
                    <td>{{ forloop.counter }}</td>
                    <td>
                      {{ result.team.month }}.{{ result.team.year}}.{{result.team.group }}
                    </td>
                    <td>{{ result.pj }}</td>
                    <td>{{ result.pg }}</td>
                    <td>{{ result.pe }}</td>
                    <td>{{ result.pp }}</td>
                    <td>{{ result.gf }}</td>
                    <td>{{ result.gc }}</td>
                    <td>{{ result.dg }}</td>
                    <td>{{ result.pts }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
            <div class="carousel-item ">
              <h1 class="mt-4">Goleadores</h1>
              <div class="mx-5 mt-5 table-container">
              <table
                class="table table-responsive table-bordered table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>Jugador</th>
                    <th>Equipo</th>
                    <th>Goles</th>

                  </tr>
                </thead>
                  <tbody>
                    {% for summary in result %}          
                    <tr
                      style="
                        font-size: 16px;
                        font-family: 'Montserrat';
                        color: black;
                        font-weight: 1;
                      "
                    >
                      <td>{{ summary.name }}</td>
                      <td>{{ summary.team__month }}.{{ summary.team__year }}.{{ summary.team__group }}</td>
                      <td>{{ summary.total_goals|default:0 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
            <div class="carousel-item">
              <h1 class="mt-4">Fixture</h1>
                <div class="mt-5">
                 {% for round_number, fixtures in grouped_fixtures.items %}
                <div class="text-center mx-5" id="tabla-jornada-{{round_number}} " style="display: none">
                  <div class="btn-group">
                    <button class="btn" onclick="mostrarTabla(-1)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-caret-left-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill="#4e688e"
                          d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                        />
                      </svg>
                    </button>
                    <span  style="font-size: 20px">Jornada {{round_number}}</span>
                    <button class="btn" onclick="mostrarTabla(1)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-caret-right-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill="#4e688e"
                          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="table-responsive table-container m-0" style="fontsize:15px">
                    <table class="table">
                      <thead class="table-dark">
                        <tr>
                          <th style="width: 55%">Lugar/Fecha</th>
                          <th style="width: 15%">Equipo 1</th>
                          <th style="width: 15%">Resultado</th>
                          <th style="width: 15%">Equipo 2</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        {% for fixture in fixtures %}
                        <tr>
                          <td >Lugar 23/11/2023 8:00</td>
                          <td class="text-center">{% if fixture.team1.name == 'DESCANSA' %}Equipo Descansa{% else %}{{ fixture.team1.name }}{{ fixture.team1.month}}.{{ fixture.team1.year}}.{{ fixture.team1.group}}{% endif %}</td>
                          <td class="text-center">{{fixture.team1_goals}} - {{fixture.team2_goals}}</td>
                          <td class="text-center">{% if fixture.team2.name == 'DESCANSA' %}Equipo Descansa{% else %}{{ fixture.team2.name }}{{ fixture.team2.month}}.{{ fixture.team2.year}}.{{ fixture.team2.group}}{% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                {% endfor %}
                </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
          style="background-color:#f6f0e6"
        >
          <span
            class="carousel-control-prev-icon text-dark"
            aria-hidden="true"

          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
                    style="background:#f6f0e6"
        >
          <span
            class="carousel-control-next-icon text-dark accordion"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-5 col-sm-12  ms-md-4 mt-5 pb-5"style="background-color: #f6f0e6;border: 2px solid #090c26" >
      <ul class="list-group" style="background-color: #f6f0e6">
      <li class="list-group-item text-center text-dark " style=" background-color: #f6f0e6">
        <h1>Anuncios</h1>
      </li>
        {% for anuncio in anuncios %}
        <li class="list-group-item  text-dark " style=" background-color: #f6f0e6 ; border-bottom: 1px solid #000;">
          <table class="table table-responsive" style=" background-color: #f6f0e6">
            <thead>
              <tr>
                <th style="width: 20%;background-color: #f6f0e6; color:dark">{{anuncio.name}}</th>
                <th style="width: 1%;border: 2px solid #090c26;padding: 0.5px"></th>
                <th style="width: 79%;background-color: #f6f0e6; color:dark">{{ anuncio.content }}</th>
              </tr>
            </thead>      
          </table>
        </li>
        {% endfor %}
      </ul>
    </div>

   </div>
  
</div>
<script>
  let jornadaActual = 1;
  mostrarTabla(0);

  function mostrarTabla(numjor) {
    const tablas = document.querySelectorAll("div[id^='tabla-jornada']");

    tablas[jornadaActual - 1].style.display = "none";

    jornadaActual += numjor;
    if (jornadaActual < 1) {
      jornadaActual = tablas.length;
    } else if (jornadaActual > tablas.length) {
      jornadaActual = 1;
    }
    tablas[jornadaActual - 1].style.display = "block";
  }
</script>
{% endblock content %}
