{% extends 'layout/main.html' %} {% block content %}

<div class="mt-4 mb-4">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <h1
          class="text-left mt-3"
          style="
            font-family: 'Montserrat';
            font-size: 50px;
            color: #0e172d;
            border-bottom: 1.5px solid #babfc5;
            padding-bottom: 15px;
          "
        >
          Crear usuario
        </h1>
        <a
          class="btn mt-4 mb-2 fs-5"
          role="button"
          href="{% url 'users' %}"
          style="
            background-color: #242c43;
            font-family: 'Montserrat';
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: background-color 0.3s;
            color: white;
          "
          onmouseover="this.style.backgroundColor='#090C26'"
          onmouseout="this.style.backgroundColor='#242C43'"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="white"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
            />
          </svg>
          Volver a usuarios
        </a>
        {% for msg in messages %}
        <div class="alert alert-danger fade show" id="msg" role="alert">
          {{msg}}
        </div>
        {% endfor %}
        <form method="POST">
          {%csrf_token%} {% for field in form %}
          <div class="mb-3 mt-3">
            <label
              class="form-label"
              style="
                font-family: 'Montserrat';
                font-size: 20px;
                color: #0e172d;
                margin-top: 5px;
              "
              for="{{ field.auto_id }}"
              >{{ field.label }}</label
            >
            {{ field }} {% if field.errors %}
            <div class="form-error">
              {% for error in field.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endfor %}

          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              class="btn btn-primary fs-5"
              style="
                background-color: #242c43;
                font-family: 'Montserrat';
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transition: background-color 0.3s;
                color: white;
              "
              onmouseover="this.style.backgroundColor='#090C26'"
              onmouseout="this.style.backgroundColor='#242C43'"
            >
              Crear usuario
            </button>
          </div>
        </form>
      </div>
    </div>
    {%endblock %}
  </div>
</div>
