{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <!-- <header>{% include "layout/header.html" %}</header> -->

    {% block login %} {% endblock login%}

    <div class="container-fluid">
      <div class="row">
        {% block sidebar %} {% endblock sidebar %}

        <div class="col-12 col-sm-9 col-md-9 col-lg-10 justify-content-center">
          <div>
            <a class="btn btn-primary" id="sidebarCollapse">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              >
                <path
                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                />
              </svg>
            </a>
          </div>
          <main>{% block content %} {% endblock content %}</main>
        </div>
      </div>
    </div>

    <!-- <footer>{% include "layout/footer.html" %}</footer> -->

    {% block script %} {% endblock script %}
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="{% static 'javascript/messages.js' %}"></script>
  <script src="{% static 'javascript/sidebar.js' %}"></script>
</html>
