{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <style>
      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 17px;
        z-index: 1000; /* Ajusta el índice z si es necesario */
        /* Agrega más estilos según tus necesidades, como colores, márgenes, etc. */
        /* Ejemplo:
  
        
        */
      }

      /* Ajusta el espacio después del encabezado para que el contenido no se superponga */
      body {
        padding-top: 80px;
      }
      @media (max-width: 720px) {
        .hidden-on-small-screen {
          display: none;
        }
      }
      /* Resto de tu CSS existente */
    </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- custom css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/indexnew.css' %}"
    />
    <!-- Agrega estos enlaces en el head de tu HTML -->
    <!-- Agrega estos enlaces en el head de tu HTML -->
    <!-- Enlaces a jQuery y jQuery UI -->
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <header>{% include "layout/header.html" %}</header>

    {% block login %} {% endblock login%}
    <div class="container-fluid">
      <div class="row h-75">
        <div
          class="w-100 h-100"
          style="
            position: absolute;
            background-color: #f6f0e6;
            clip-path: polygon(0 0, 28% 0, 55% 100%, 0 100%);
            z-index: 0;
          "
        ></div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div>
                <img
                  src="{% static 'img/fondo.png' %}"
                  alt="Descripción de la imagen"
                  class="img-fluid w-50 d-block mx-auto hidden-on-small-screen"
                  style="
                    position: relative;
                    z-index: 1;
                    left: 15%;
                    max-width: 100%;
                    height: auto;
                  "
                />
              </div>
            </div>
            <div
              class="col-6 text-center text-white ms-auto mx-auto my-auto d-block mx-auto"
              style="max-width: 100%; height: auto"
            >
              <h2 class="display-6">
                Asociación de licenciados de la FAP Grupo Aéreo N° 4
              </h2>
              <p class="text-md text-sm fs-3">
                La Asociación de licenciados de la FAP Grupo Aéreo N° 4 (ALIFAP
                Grupo Aéreo N°4) es una asociación creada recientemente que
                realiza competiciones deportivas entre sus afiliados. En la
                actualidad solo realizan campeonatos de fútbol, pero en un
                futuro pretenden realizar otros deportes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row h-75 pt-5 mt-5 border-2 border-black"
        style="background-color: #f6f0e6"
      >
        <div class="col-12 mt-5 pb-5">
          <section id="section2">
            <main>{% block content %} {% endblock content %}</main>
          </section>
        </div>
      </div>
    </div>

    <!-- <footer>{% include "layout/footer.html" %}</footer> -->
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript"></script>
  <script src="{% static 'javascript/messages.js' %}"></script>
  <script src="{% static 'javascript/sidebar.js' %}"></script>

  <script>
    var menu_btn = document.querySelector("#menu-btn");
    var sidebar = document.querySelector("#sidebar");
    var container = document.querySelector(".my-container");
    menu_btn.addEventListener("click", () => {
      sidebar.classList.toggle("active-nav");
      container.classList.toggle("active-cont");
    });
  </script>

  {% block script %} {% endblock script %}
</html>
